.content-wrapper {
    background-color: #f3f3f9;
    min-height: calc(100vh - 70px);
    display: flex;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}

a {
    color: inherit;
}

.grid-margin {
    margin-bottom: $grid-margin;
}