.form-check {
  position: relative;
  padding: 0;
  .form-check-input {
    display: none;
  }
  .form-check-label {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
    &::before {
      content:"";
      display: inline-block;
      width: 21px;
      height: 21px;
      border: 1px solid $input-border-color;
      margin-right: 11px;;
      position: absolute;
      right: 0;
      top: 0;
      font-family: "Material Design Icons";
      color:  #000000;
      text-align: center;
      line-height: 21px;
  }
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.rooms-floor {
  .input-group-prepend {
    .input-group-text {
      padding: 0.5rem 0.7rem;
    }
  }
  .form-control {
    padding: 0.5rem;
  }
  i {
    font-size: 0.9rem;
  }
}

.custom-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M12,18.17L8.83,15L7.42,16.41L12,21L16.59,16.41L15.17,15M12,5.83L15.17,9L16.58,7.59L12,3L7.41,7.59L8.83,9L12,5.83Z' /%3E%3C/svg%3E");
  background-size: 12px;
  color: #273444;
  font-weight: $font-weight-medium;
  font-size: 12px;
  line-height: 1.33;

  &:focus {
      box-shadow: none;
  }
}