.pagination{
    .page-item {
        margin-right: 9px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.page-link {
    border: 2px solid theme-color(primary);
    border-radius: 4px;
    color: theme-color(primary);
    font-size: 12px;
    &:hover {
        background-color: theme-color(primary);
        color: $white;
        border: 2px solid theme-color(primary);
    }
}