.left-sidebar {
    background-color: $sidebar-bg;
    color: #ffffff;
    border-right: 1px solid $border-color;
    width: 265px;
    .filter-content {
        padding: 15px 20px;
    }
    .filter-heading {
        padding: 15px 20px;
    }
}

.right-sidebar {
    border-left: 1px solid $border-color;
    background-color: #ffffff;
    width: 250px;
    .adversite-heading {
        padding: 15px 20px;
    }
    .advertise-card {
        .img-container {
            height: 20px;
        }
    }
}