.container .navbar {
    border-radius: 0.25rem;
}

.navbar {
    padding-top: 18px;
    padding-bottom: 18px;
}

.navbar-brand {
    font-size: 21px;
}

.navbar-light {
    .navbar-brand {
        color: theme-color(primary);
    }

    .navbar-nav {
        .nav-link {
            color: $black;
        }
    }
}

.navbar-border-bottom {
    border-bottom: 1px solid #e9ecf1;
}

.navbar-toggler {
    border: 0;
    font-size: 28px;
}

.nav-link {
    font-weight: $font-weight-medium;
}

.nav-link-icon {
    font-size: 18px;
}

navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-up($next) {
            .navbar-nav {
                .nav-link.nav-link-icon {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
      }
    }
}

.header-with-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}